#ourServices h1, .ourServices-content{
    z-index: 1;
}

.custom-shape-divider-top-1687493702 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 0;
}

.custom-shape-divider-top-1687493702 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 315px;
}

.custom-shape-divider-top-1687493702 .shape-fill {
    fill: hsla(0, 100%, 68%, 0.411);
}

/* ------------------------------------------------------------ */

.custom-shape-divider-bottom-1687493827 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 0;
}

.custom-shape-divider-bottom-1687493827 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 315px;
}

.custom-shape-divider-bottom-1687493827 .shape-fill {
    fill: hsla(0, 100%, 68%, 0.411);
}

.btn-ourServices:hover{
    background-color: rgb(255, 85, 85);
}

@media (max-width: 900px) {
    .ourServices-main{
        height: max-content !important;
    }
    .ourServices-content{
        width: 90% !important;
    }
    .ourservices-title{
        width: 80% !important;
    }
    .imgs-container{
        flex-direction: column;
        width: 90% !important;
    }
    .left-side, .right-side{
        margin: 10px 0;
        width: 70% !important;
    }
    .desc-text{
        font-size: 100% !important;
    }
}
@media (max-width: 580px){
    .ourservices-title{
        font-size: 130% !important;
        text-align: center;
    }
    .ourServices-content{
        padding: 10px 0 !important;
    }
    .imgs-container{
        min-width: 320px !important;
    }
    .desc-text{
        height: max-content !important;
        font-size: 80% !important;
    }
    .left-side, .right-side{
        margin: 10px 0;
        width: 80% !important;
    }
}
